/*
 * * My website will be build with CSS float & clear for recent computer screens
*/

* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial;
  }

/*#region HEADER*/

header {
    /*TODO: choose some fonts*/
    background-color: #999;
    overflow: hidden;
}

header h1 {
    /*TODO: better website name*/
    float: left;
    height: 100%;
    margin-left: 50px;
    padding-top: 25px;
}

header img {
    /*TODO: choose a logo*/
    float: right;
}

/*#endregion*/

/*#region NAV*/

nav {
    overflow: hidden;
}

.tablink{
    background-color: #ccc;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 19px;
    width: 25%;
    transition: .3s;
    border-bottom: 3px solid transparent;
}

.tablink:hover{
    background-color: #aaa;
    border-bottom: red 3px solid;
}

/*#endregion*/

/*#region MAIN*/

/*TODO: Add main style*/

main{
    height: 80%;
}

.tabcontent{
    padding: 100px 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#Home {background-color: red;}
#Presentation {background-color: green;}
#Hobbies {background-color: blue;}
#Other {background-color: orange;}

/*#endregion*/

/*#region FOOTER*/

footer{
    background-color: #999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}

/*#endregion*/

