
/*
! root is accessible from anywhere
*/
:root {
    --main-color: #1111f4;
    --second-color: #7070f8;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial;
}

body{

}

/*#region HEADER*/

/*First grey row*/
header {
    background: var(--main-color);
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

/*Paul Marchal*/
header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px #ccc;
}


/*Logo*/
header img {
    width: 60px;
    padding: 10px;
    margin-left: auto;
}

/*#endregion*/

/*#region NAV*/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    background-color: #ccc;
}

/*Buttons on second row*/
.tablink{
    background-color: #ccc;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 550;
    transition: .3s;
    border: 4px solid transparent;
    flex: 1;
}

.tablink-selected {
    border-top: 4px solid #fff;
    color: #fff;
    background-color:var(--second-color);
}

.tablink:hover{
    background-color: var(--main-color);
    color: #fff;
    border-top: solid 4px transparent;
    border-bottom: #fff 4px solid;
    border-radius: 0px;
}

/*#endregion*/

/*#region MAIN*/

/*TODO: Add main style*/

main{
    background-color: var(--second-color);
    min-height: 100%;
}

/*Center content selected by above buttons */
.tabcontent{
    padding: 0px;
    width: 100%;
    margin: 0;
    background-color: var(--second-color);
}

.tabcontent-iframe {
        border:none;
    width: 100%;
    height: 100%;
}

/*#endregion*/

/*#region FOOTER*/

/**/
footer{
    display: block;
    position: static;
    left:0;
    bottom:0;
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    color: #ccc;
    align-self: flex-end;
}

footer a{
    color: #fff;
}

footer hr {
    margin: 5px;
}

/*#endregion*/

